*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Android Studio specific
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

# IntelliJ IDEA specific
*.iml
.idea/
*.ipr
*.iws

/out/

atlassian-ide-plugin.xml

# mpeltonen/sbt-idea plugin
.idea_modules/


# Misc filetypes to ignore
Thumbs.db
*.bak